/* 1. External Imports first */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* 2. Tailwind Core */
@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* 3. Theme Configuration */
@theme {
  --variant-dark: .dark &;
  --font-mono: "DM Mono", monospace;
  --nav-width: 96px;

  /* Nature Dark Palette */
  --color-nature-bg: #181C14;    
  --color-nature-nav: #3C3D37;     
  --color-nature-cream: #ECDFCC; 
  --color-nature-sage: #697565;   

  /* New Light Mode Palette (Example colors) */
  --color-light-bg: #FFFFFF;
  --color-light-nav: #F3F4F6;
  --color-light-text: #111827;

}

/* 4. Base styles and Custom Classes */
@layer base {
  body {
    @apply font-mono bg-light-bg text-light-text dark:bg-nature-bg dark:text-nature-cream transition-colors duration-300;
  }
}
.dm-mono-light {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.dm-mono-medium {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.dm-mono-light-italic {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.dm-mono-regular-italic {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.dm-mono-medium-italic {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

